<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Home</title>
</head>
<body class="bg-light">
<div class="mx-auto mt-4" style="width: 400px;">
    <h2>Task Manager <img src="/tasks-2.png"/></h2>
</div>
<p>TASKS: <span><a th:href="|/|">ALL</a></span> | <span><a th:href="|/ongoing|">ONGOING</a></span> | <a
        th:href="|/archived|">ARCHIVED</a></span> </p>

<table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Deadline</th>
        <th scope="col">Status</th>
        <th scope="col">Time Spent</th>
        <th scope="col">Registration Time</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}" scope="row">
        <td><span th:text="${task.id}">Name</span></td>
        <td><span th:text="${task.name}">Name</span></td>
        <td><span th:text="${task.category}">Category</span></td>
        <td class="dateRow" th:text="${task.taskEndDate}">Deadline</td>
        <td><span th:text="${task.status}">Status</span></td>
        <td><span th:text="${task.timeSpent}">Time Spent</span></td>
        <td th:text="${task.registrationDateTime}">Registration Time</td>
        <td><a th:href="|/task?id=${task.id}|"><img src="/pencil.png"/></a>
            <a th:href="|/delete?id=${task.id}|"><img src="/criss-cross.png"/></a>
        </td>
    </tr>
    <tr>
        <td colspan="4"><a th:href="|/create|"><img src="/add.png"/></a></td>
    </tr>
    </tbody>
</table>
</body>


</html>
